/*   offer   */

.offer {
 padding: 0 0 30px;
 background: url("../img/bg-patt.jpg") 50% 0 repeat #5c7bd9;
}

.offer .main_title {
 background: url("../img/title-bg.png") 50% 0 no-repeat #5374d7;
 height: 92px;
 font-family: 'DINRoundPro', Arial, Helvetica, sans-serif;
 color: #fff;
 text-align: center;
 text-transform: uppercase;
}

.offer h1 {
 float: left;
 width: 230px;
 height: 92px;
 line-height: 88px;
 font-size: 37px;
 font-weight: 700;
 text-shadow: 0 2px 0 rgba(0, 0, 0, 0.31);
}

.offer .sub_title {
 margin-left: 230px;
 font-size: 30px;
 font-weight: 700;
 line-height: 27px;
 padding-top: 20px;
}

.offer .sub_title span {
 display: block;
 font-size: 21px;
}

.offer .box {
 position: relative;
 margin-bottom: 20px;
}

.offer .box img {
 display: block;
}

.offer .sale {
 position: absolute;
 right: 0;
 bottom: 0;
 background: url("../img/sale-bg.png") 0 0 no-repeat;
 width: 200px;
 height: 200px;
 font-family: 'DINRoundPro', Arial, Helvetica, sans-serif;
 font-weight: 700;
 line-height: 34px;
 text-align: center;
 text-transform: uppercase;
}

.offer .sale b {
 display: block;
 font-size: 46px;
}

.offer .sale span {
 display: inline-block;
 padding: 109px 20px 0 0;
 -moz-transform: rotate(-43deg);
 -o-transform: rotate(-43deg);
 -webkit-transform: rotate(-43deg);
 transform: rotate(-43deg);
}

.offer .bullet {
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
}

.offer .bullet li {
 position: absolute;
 width: 230px;
 color: #fff;
 font-weight: 700;
 line-height: 32px;
 text-align: center;
 text-shadow: 0 2px 0 rgba(0, 0, 0, 0.43);
}

.offer .bullet b {
 display: block;
 font-size: 38px;
 color: #f5ce58;
}

.offer .bullet li:nth-child(1) {
 left: 0;
 top: 31px;
}

.offer .bullet li:nth-child(2) {
 right: 0;
 top: 81px;
 width: 220px;
}

.offer .bullet li:nth-child(3) {
 right: 197px;
 top: 483px;
}

.stock {
 text-align: center;
 padding-top: 20px;
 font-size: 20px;
}

.stock.white {
 color: #fff;
}

.stock b {
 display: inline-block;
 width: 36px;
 height: 36px;
 line-height: 36px;
 color: #fff;
 background: #64c977;
 margin: 0 3px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

/*   b1   */

.b1 {
 padding-bottom: 0;
}

.b1 h2.title span {
 display: inline;
}

.b1 .txt {
 font-size: 20px;
 line-height: 28px;
 text-align: center;
 padding: 20px;
}

.b1 .txt p {
 padding-bottom: 15px;
}

.b1 .txt p:last-child {
 padding-bottom: 0;
}

.b1 .certificate {
 padding: 15px 20px;
 background: #5374d7;
 color: #fff;
 font-size: 18px;
 line-height: 24px;
}

.b1 .certificate:after {
 display: block;
 clear: both;
 content: '';
}

.b1 .certificate img {
 display: block;
 float: left;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
}

.b1 .certificate p {
 overflow: hidden;
 padding: 0 10px 0 20px;
}

/*   b2   */

.b2 h2.title {
 padding: 0 40px;
}

.b2 h2.title span {
 display: inline;
}

/*   b3   */

.b3 {
 background: url("../img/bg-patt.jpg") 0 0 repeat #5c7bd9;
}

.b3 h2.title {
 padding: 0 80px;
}

/*   b4   */

.b4 {
 padding-bottom: 0;
}

.b4 h2.title span {
 display: inline;
}

.b4 .list-v2 {
 padding-bottom: 45px;
}

.b4 .alert {
 position: relative;
 padding-top: 40px;
 background: #64c977;
 color: #fff;
 font-size: 19px;
 font-weight: 700;
 line-height: 26px;
 text-align: center;
}

.b4 .alert:before {
 position: absolute;
 left: 50%;
 margin-left: -39px;
 top: -38px;
 display: block;
 background: url("../img/alert-icon.png") 0 0 no-repeat;
 width: 77px;
 height: 76px;
 -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 content: '';
}

.b4 .alert p {
 padding: 20px;
}

/*   b5   */

.b5 h2.title {
 margin-bottom: 30px;
}

.b5 .txt {
 padding: 0 20px 25px;
 font-size: 20px;
 line-height: 28px;
 text-align: center;
}

.b5 .txt p {
 padding-bottom: 15px;
}

.b5 .txt p:last-child {
 padding-bottom: 0;
}

.b5 .pic {
 position: relative;
 margin-bottom: 20px;
}

.b5 .pic img {
 display: block;
 margin: 0 auto;
}

.b5 .pic .label {
 position: absolute;
 top: 130px;
 left: 28px;
 width: 193px;
 color: #fff;
 font-size: 21px;
 font-weight: 700;
 text-align: center;
}

.b5 .pic .label span {
 display: block;
 font-size: 13px;
 text-transform: uppercase;
}

/*   catalog-list   */

.catalog-list {
 padding: 0 30px 45px;
}

.catalog-list .item {
 padding-bottom: 34px;
 margin-bottom: 30px;
 background: #fff;
 -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 border-radius: 40px;
}

.catalog-list .photo {
 position: relative;
}

.catalog-list .photo img {
 display: block;
 -webkit-border-radius: 40px 40px 0 0;
 -moz-border-radius: 40px 40px 0 0;
 border-radius: 40px 40px 0 0;
}

.catalog-list .sale {
 position: absolute;
 left: 0;
 top: 0;
 background: url("../img/sale-bg-catalog.png") 0 0 no-repeat;
 width: 185px;
 height: 177px;
 font-family: 'DINRoundPro', Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 15px;
 color: #333;
 text-align: center;
 text-transform: uppercase;
}

.catalog-list .sale span {
 display: inline-block;
 padding: 7px 95px 0 0;
 -moz-transform: rotate(-43deg);
 -o-transform: rotate(-43deg);
 -webkit-transform: rotate(-43deg);
 transform: rotate(-43deg);
}

.catalog-list .sale b {
 display: block;
 font-size: 35px;
}

.catalog-list .title-offer {
 font-family: 'DINRoundPro', Arial, Helvetica, sans-serif;
 font-size: 25px;
 font-weight: 700;
 text-align: center;
 color: #222;
 padding: 20px 0 25px;
}

.catalog-list .cost {
 width: 390px;
 margin: 0 auto 25px;
 font-family: 'DINRoundPro', Arial, Helvetica, sans-serif;
}

.catalog-list .cost:after {
 display: block;
 clear: both;
 content: '';
}

.catalog-list .cost .old,
.catalog-list .cost .new {
 float: left;
 width: 50%;
 height: 84px;
 text-align: center;
 padding-top: 13px;
}

.catalog-list .cost p {
 font-size: 15px;
 padding-bottom: 2px;
}

.catalog-list .cost .new {
 color: #fff;
 background: #64c977;
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 border-radius: 40px;
}

.catalog-list .cost .val {
 font-size: 30px;
}

.catalog-list .cost .val i {
 font-style: normal;
 font-size: 23px;
 text-transform: uppercase;
}

.catalog-list .cost .new .val {
 font-weight: 700;
}

.catalog-list .cost .old .val span {
 text-decoration: line-through;
}

.char-list {
 padding: 0 15px 15px;
}

.char-list li {
 font-size: 18px;
 padding-bottom: 10px;
}

.char-list li:after {
 display: block;
 clear: both;
 content: '';
}

.char-list li b {
 display: block;
 float: left;
 width: 180px;
}

.char-list li span {
 display: block;
 margin-left: 180px;
}

.catalog-list .kit {
 padding: 0 15px 25px;
}

.catalog-list .kit:after {
 display: block;
 clear: both;
 content: '';
}

.catalog-list .kit .col:nth-child(1) {
 float: left;
 width: 210px;
}

.catalog-list .kit .col:nth-child(2) {
 margin-left: 210px;
}

.catalog-list .kit h4 {
 font-size: 18px;
 padding-bottom: 10px;
}

.kit-list li {
 position: relative;
 font-size: 17px;
 padding-left: 17px;
 margin-bottom: 5px;
}

.kit-list li:before {
 position: absolute;
 left: 0;
 top: 9px;
 display: block;
 width: 8px;
 height: 8px;
 background: #64c977;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 content: '';
}

/*   list-v1   */

.list-v1 {
 font-size: 0;
 padding: 0 15px;
}

.list-v1 li {
 display: inline-block;
 vertical-align: top;
 width: 50%;
 font-size: 20px;
 text-align: center;
 padding: 0 0 40px;
}

.list-v1 img {
 display: block;
 margin: 0 auto 20px;
 border: 4px solid #ffba00;
 -webkit-border-radius: 45px;
 -moz-border-radius: 45px;
 border-radius: 45px;
}

.list-v1 p {
 padding: 0 15px;
}

/*   list-v2   */

.list-v2 {
 padding: 0 30px;
}

.list-v2 li {
 position: relative;
 display: table;
 height: 215px;
 margin-bottom: 30px;
 background: #fff;
 padding-left: 200px;
 -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 border-radius: 40px;
}

.list-v2 li:before {
 position: absolute;
 top: 50%;
 left: 50%;
 margin: -17px 0 0 -26px;
 display: block;
 width: 34px;
 height: 34px;
 background: url("../img/check-icon.png") 0 0 no-repeat;
 content: '';
 z-index: 5;
}

.list-v2 img {
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 -webkit-border-radius: 40px 0 0 40px;
 -moz-border-radius: 40px 0 0 40px;
 border-radius: 40px 0 0 40px;
}

.list-v2 p {
 display: table-cell;
 vertical-align: middle;
 text-align: center;
 padding: 0 15px;
}

/*   reviews   */

.reviews {
 background: url("../img/bg-patt.jpg") 0 0 repeat #5b7bd8;
}
.reviews .video-container {
    margin-bottom: 20px;
}
.reviews h2.title {
 font-size: 26px;
 line-height: 28px;
}

.reviews h2.title span {
 font-size: 34px;
 padding-bottom: 5px;
}

.rev-list {
 padding: 26px 30px 0;
}

.rev-list .item:last-child {
 margin-bottom: 30px;
}

.rev-list .item {
 color: #222;
 text-align: center;
 margin-bottom: 55px;
 background: url("../img/quote-icon.png") 361px 16px no-repeat #fff;
 -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 box-shadow: 0 0 18px rgba(0, 0, 0, 0.31);
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 border-radius: 40px;
}

.rev-list .ava {
 display: inline-block;
 vertical-align: top;
 width: 100%;
 margin-top: -26px;
}

.rev-list .ava img {
 display: block;
 margin: 0 auto 10px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.rev-list .ava h4 {
 font-size: 18px;
 font-weight: 700;
 padding-bottom: 10px;
}

.rev-list .rev-title {
 font-size: 20px;
 font-weight: 700;
 line-height: 28px;
 padding: 0 20px;
}

.rev-list .rev-title span {
 display: block;
}

.rev-list .txt p {
 line-height: 26px;
 padding: 10px 20px 20px;
}

.rev-list .txt img {
 display: block;
 -webkit-border-radius: 0 0 40px 40px;
 -moz-border-radius: 0 0 40px 40px;
 border-radius: 0 0 40px 40px;
}

/*   order info   */

.order_info h2.title {
 margin-bottom: 50px;
}

.order_info h2.title span {
 display: inline;
}

.order_info ul {
 font-size: 0;
 text-align: center;
 margin-bottom: -35px;
}

.order_info li {
 display: inline-block;
 vertical-align: top;
 width: 50%;
 font-size: 20px;
 line-height: 26px;
 padding-bottom: 35px;
}

.order_info li img {
 display: block;
 margin: 0 auto 15px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.order_info li p {
 padding: 0 15px;
}

/*   footer   */

.footer {
 text-align: center;
 padding: 40px 0 30px;
}

.footer img {
 display: block;
 margin: 0 auto 15px;
}

.footer a {
 display: inline-block;
 font-size: 16px;
 color: #333;
 margin: 0 10px;
}

.footer a:hover {
 text-decoration: none;
}





